.wall-main-col {
    height: calc(100vh - 68px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.notes-wall {
    min-height: 250px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
