.navLinkColor {
    text-decoration: none;  
    color: white
}
.colDivider {
    border-left: 1px solid;
    color: #ccc
}
.titleDesign {
    font-weight: bold;
}

 #oval {
      width: 120px;
      height: 40px;
      background: gray;
      border-radius:  50px;
    }