.navLinkColor {
    text-decoration: none;  
    color: white
}
.navLinkColor:hover {
    background-color: hsl(43 0% 12.8%); 
    color: white;
    border-radius: 12px;
}
.colDivider {
    border-left: 1px solid;
    color: #ccc
}
.titleDesign {
    font-weight: bold;
}
.page {
    background-color: black;
    font-family: Tahoma, sans-serif;
    width: 100vw;
    height: 100vh
}

.profile {
    display: flex;
    align-items: center;
}
.post-title {
    font-size:1.5rem;
    font-weight:bold;
}
.post-content {
    font-size:1rem
}
.action-tabs{
    position: relative;
    display:flex;
    justify-content: start;
    z-index: 1000;
}
.message-card{
    display: flex;
    justify-content: end;
    height: 100%;
    background-color: black;
    color: white;
}
.chat-box{
    height: 80px;
}
@media (max-width: 600px) {
.background {
background-color: black;
font-family: Tahoma, sans-serif;
width: 100%;
height:100%
}

}
