.navLinkColor {
    text-decoration: none;  
    color: white
}
.navLinkColor:hover {
    background-color: hsl(43 0% 12.8%); 
    color: white;
    border-radius: 12px;
}
.colDivider {
    border-left: 1px solid;
    color: #ccc
}
.titleDesign {
    font-weight: bold;
}

#oval {
      width: 120px;
      height: 40px;
      background: gray;
      border-radius:  50px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
#oval:hover {
      background: #0048fc;
    }
.post-card {
    background-color: black; 
    color: white; 
    border: solid 1px gray; 
    border-radius: 15px; 
    padding: 8px;
    cursor: pointer ;
}
.post-card:hover {
    background-color: hsl(43 0% 12.8%); 
    color: white; 
    border: solid 1px gray; 
    border-radius: 15px; 
    padding: 8px;
    cursor: pointer ;
}
.brand {
    font-size: 1.5rem;
}

.page {
    background-color: black;
    font-family: Tahoma, sans-serif;
    width: 100vw;
    height: 100vh
}


.top-menu { 
    font-size: 1.2rem;
}

.top-menu-icons { 
    font-size: 1.5rem;
}
.searchbar {
    border-radius: 25px;
    padding-left: 40px;
    width: 400px
}
.searchbar-icon {
    position: absolute;
    color: gray;
    pointer-events: none;
    translate: 16px 0px
}
.profile {
    display: flex;
    align-items: center;
}
.dropdown-menu {
    z-index: 1000;
}
.custom-nav-dropdown .dropdown-menu {
  left: auto !important;
  right: 0 !important;
  transform: translateX(-8px);
}
.post-title {
    font-size:1.5rem;
    font-weight:bold;
}
.post-content {
    font-size:1rem
}
.action-tabs{
    display:flex;
    justify-content: start;
}
.comment-box {
    border-radius: 15px ; 
    height:60px;
}
.comment-button {
    display: flex;
    justify-content:end;
    width:100%;
    position: absolute;
    translate:-10px -50px;
    z-index:1;
    font-size:24px;
}
.comment-box-label {
    margin-bottom:8px;
    background-color:#D3D3D3;
    height: 40px;
    border-radius: 12px;
    padding: 8px;
    color: black;
}
.comment-body {
    font-size: .9rem;
}
.comment-user {
    font-size: .9rem;
}
.comment-user-date {
    margin-left:4px;
    font-size:.7rem
}
.comment-user-logo {
    font-size:.7rem
}




@media (max-width: 600px) {
    .brand {
        align-items: center;
        font-size: .9rem;
        margin: 0;
        padding: 0
    }
    .background {
    background-color: black;
    font-family: Tahoma, sans-serif;
    width: 100%;
    height:100%
    }
    .top-menu {
    font-size: .8rem;
    }
    .top-menu-icons {
    font-size: 1rem;
    transform: translateY(-4px); 
    }
    .searchbar{
    display: none;
    }
    .searchbar-icon{
    translate: 24px 0px;
    }
    .custom-nav-dropdown .dropdown-menu {
    font-size: .8rem;
    padding: 0;
    min-width: 6rem;
    
    position: absolute !important;
    z-index: 1050; 
    }

    .post-title {
    font-size: 1rem;
    }

    .post-content {
    font-size:.9rem
    }
    #oval {
      width: 80px !important;
      height: 30px !important;
      font-size: 9px;
    }
    .action-tabs{
    gap: 1rem !important;
    overflow-wrap: normal;
    justify-content: center !important;
}
.comment-box {
    height: 45px;
    font-size: 12px;
}
.comment-button {
    translate:-5px -45px;
}
.comment-box-label {
    font-size: 12px;
}
.comment-body {
    font-size: .8rem;
}
.comment-user {
    font-size: .8rem;
}
.comment-user-date {
    font-size:.6rem
}
.no-comment-msg {
    font-size: .75rem;
}

    
}