.navLinkColor {
    text-decoration: none;  
    color: white
}
.navLinkColor:hover {
    background-color: hsl(43 0% 12.8%); 
    color: white;
    border-radius: 12px;
}
.colDivider {
    border-left: 1px solid;
    color: #ccc
}
.titleDesign {
    font-weight: bold;
}

#oval {
      width: 120px;
      height: 40px;
      background: gray;
      border-radius:  50px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
#oval:hover {
      background: #0048fc;
    }
.post-card {
    background-color: black; 
    color: white; 
    border: solid 1px gray; 
    border-radius: 15px; 
    padding: 8px;
    cursor: pointer ;
}
.post-card:hover {
    background-color: hsl(43 0% 12.8%); 
    color: white; 
    border: solid 1px gray; 
    border-radius: 15px; 
    padding: 8px;
    cursor: pointer ;
}
.page {
    background-color: black;
    font-family: Tahoma, sans-serif;
    width: 100vw;
    height: 100vh
}

.post-title {
    font-size:1.5rem;
    font-weight:bold;
}
.post-content {
    font-size:1rem;
    white-space: pre-wrap;
}
.action-tabs{
    display:flex;
    justify-content: start;
}
/* .comment-box-wrapper {
    width: 100%;
} */
.comment-box {
    border-radius: 15px ; 
    height:auto;
    min-height: 70px;
    max-height: 250px;
    resize: vertical;
    width: 94%;
    /* word-wrap: break-word;
    overflow-y: auto !important;
    overflow-x: hidden !important; */
}
.comment-button {
    display: flex;
    justify-content:end;
    min-width: 40px;
    width:auto;
    color: white;
    background-color: white;
    position: absolute;

    right: 18px;
    top: 24px;
    z-index:1;
    font-size:24px;
}
.comment-box-label {
    margin-bottom:8px;
    background-color:#D3D3D3;
    height: 40px;
    border-radius: 12px;
    padding: 8px;
    color: black;
}
.comment-body {
    font-size: .9rem;
}
.comment-user {
    font-size: .9rem;
}
.comment-user-date {
    margin-left:4px;
    font-size:.7rem
}
.comment-user-logo {
    font-size:.7rem
}
.post-card {
    background-color: black; 
    color: white; 
    border: solid 1px gray; 
    border-radius: 15px; 
    padding: 8px;
    cursor: pointer ;
}

@media (max-width: 600px) {
    .background {
    background-color: black;
    font-family: Tahoma, sans-serif;
    width: 100%;
    height:100%
    }
    
    .post-title {
    font-size: 1rem;
    }

    .post-content {
    font-size:.9rem
    }
    #oval {
      width: 80px !important;
      height: 30px !important;
      font-size: 9px;
    }
    .action-tabs{
    gap: 1rem !important;
    overflow-wrap: normal;
    justify-content: center !important;
}
.comment-box {
    height: 45px;
    font-size: 12px;
}
.comment-button {
    /* translate:8px -45px; */
    /* position: absolute;  */
    right: 7;
    top: 20px;
    font-size: 20px;
    pointer-events: auto;
    width:auto;
    min-width: 40px;
}
.comment-box-label {
    font-size: 12px;
}
.comment-body {
    font-size: .8rem;
    flex: 1;
}
.comment-user {
    font-size: .8rem;
}
.comment-user-date {
    font-size:.6rem
}
.no-comment-msg {
    font-size: .75rem;
}
.comment-box-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.footer{
    gap: 0px;
}
.post-image{
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0 !important;
}

    
}