.navLinkColor {
    text-decoration: none;  
    color: white
}
.navLinkColor:hover {
    background-color: hsl(43 0% 12.8%); 
    color: white;
    border-radius: 12px;
}
.colDivider {
    border-left: 1px solid;
    color: #ccc
}
.titleDesign {
    font-weight: bold;
}

#oval {
      width: 120px;
      height: 40px;
      background: gray;
      border-radius:  50px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
#oval:hover {
      background: #0048fc;
    }
.post-card {
    background-color: black; 
    color: white; 
    border: solid 1px gray; 
    border-radius: 15px; 
    padding: 8px;
    cursor: pointer ;
}
.post-card:hover {
    background-color: hsl(43 0% 12.8%); 
    color: white; 
    border: solid 1px gray; 
    border-radius: 15px; 
    padding: 8px;
    cursor: pointer ;
}
.page {
    background-color: black;
    font-family: Tahoma, sans-serif;
    width: 100vw;
    height: 100vh
}
.profile {
    display: flex;
    align-items: center;
}
.dropdown-menu {
    z-index: 1000;
}
.custom-nav-dropdown .dropdown-menu {
  left: auto !important;
  right: 0 !important;
  transform: translateX(-8px);
}
.post-title {
    font-size:1.5rem;
    font-weight:bold;
}
.post-content {
    font-size:1rem
}
.action-tabs{
    display:flex;
    justify-content: start;
}
.topic{
    color: white;
    width: 180px;
    background-color: transparent;
    /* font-size: .9rem; */
    border-radius: 1.8rem;
    /* height: 3rem; */
}

@media (max-width: 600px) {
    .background {
    background-color: black;
    font-family: Tahoma, sans-serif;
    width: 100%;
    height:100%
    }

    .post-title {
    font-size: 1rem;
    }

    .post-content {
    font-size:.9rem
    }
    #oval {
      width: 80px !important;
      height: 30px !important;
      font-size: 9px;
    }
    .action-tabs{
    gap: 1rem !important;
    overflow-wrap: normal;
    justify-content: center !important;
}

    
}