.view-post {
    background-color: black;
    border: 1px solid white; 
    margin-bottom: 8px;
}
.view-post:hover {
    background-color: #1a1a1a;
    cursor: pointer;
}
.view-post-title {
    font-size: 1.563rem;
    color: #ffffff;
    font-weight: bold
}
.view-post-title:hover {
    color: #ff9800;
    text-decoration: underline;
}
.view-header-button {
    position: relative;
    bottom: -40px;
    padding:0;
    display: flex;
    justify-content: end;
}
.mobile-col { 
    display: none !important;        
}
.view-section-title {
    padding: 8px; 
    gap: 10px;
    font-size: 1.125rem;
    color: white;
    display:flex;
    align-items: center;
}
.view-header-main {
    position: relative;
    bottom: -40px;
}
.view-header {
    position: absolute;
    z-index: 0;
    bottom: -30px;
    left: 0px;
    display: flex;
    align-items: center;
    width:100%;
}
.cover-image {
    background-image: url('https://res.cloudinary.com/dv7ai6yrb/image/upload/v1753324185/pexels-pixabay-289737_gmm8ey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 65%;
    width: 100%;
    border-radius: 5px;
    outline: 1px solid black;
}
.role-badge {
    display: flex;
    align-items: center;
}
@media (max-width:600px) {
    .view-header {
        bottom: 60px !important;
    } 
    .view-pfp-image {
        width: 100px;
        height: 100px;
    }
    .view-header-main {
        bottom: 0px !important;
        margin-top: 10px;
    }
    .view-header-button {
        display: none !important;
        bottom: 0px !important;
    }
    .cover-image {
        height: 40% !important;
    }
    .mobile-col {
        display: block !important;   
    }
    .content-row {
        margin-top: 0 !important;
        position: relative;
        top: -50px;
    }
    .view-post-title {
        font-size: 1rem;
    }
    .view-post-datetime {
        font-size: .9rem;
    }
    .view-post-topic {
        font-size: .9rem;
    }
    .view-section-title {
        font-size: 1rem;
    }
    .role-badge {
        font-size: .8rem;
    }
    .friend-btn-component {
        font-size: .7rem;
    }
}